@import url('https://fonts.googleapis.com/css?family=Marck+Script');

html {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  font-size: 15px;
  background-color: #F0F0D8;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
}

a:visited {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: #789048;
}

/* Centramos el contenido de la pagina */
#contenido {
  background-color: #FDFFEE;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

header {
  background-color: #789048;
}

#titulo {
  background-image: url('../images/header.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 380px;
}

#titulo h1 {
    margin: 0;
    padding: 0;
    padding-left: 50px;
    padding-top: 30px;
    font-size: 100px;
    font-family: 'Marck Script', cursive;
}

h3 {
  font-family: 'Marck Script', cursive;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #C0D860;
}

/* Estilos para el menu del header */
#menu-header {
  display: inline-block;
  float: right;
}

#menu-header ul {
  margin: 0;
  padding: 0;
}

#menu-header ul li {
  list-style: none;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
}

#menu-header ul li a {
  display: inline-block;
  margin: 0;
  text-decoration: none;
  color: #607848;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#menu-header ul li a:hover {
  border-bottom: 4px solid #789048;
  padding-bottom: 1px;
  color: #F0F0D8;
}

.clear-both {
  clear: both;
}

main section {
  padding: 20px 20px 20px 5px;
}

main section:not(:first-child) {
  border-top: 3px dashed #F0F0D8;
}

main section h2 {
  margin: 0 0 0 5px;
  padding: 0 0 0 10px;
  font-family: 'Marck Script', cursive;
  font-size: 30px;
  background-color: #C0D860;
}

#galeria {
  padding-top: 20px;
  text-align: center;
}

.imagen-galeria {
  width: 240px;
  height: 180px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border: 1px solid #F0F0D8;
}

#novedades {
  padding: 20px 0;
  margin: 0 40px;
}

#novedades article {
  text-align: center;
  display: inline-block;
  float: left;
  width: 300px;
  height: 200px;
  padding: 10px;
  margin: 0 15px 0 0;
  border: 5px dotted #C0D860;
  border-radius: 10px;
}

#novedades article h3 {
  text-decoration: underline;
}

footer {
  color: #302323;
  background-color: #604848;
  font-size: 12px;
}

#secciones-footer {
  padding: 20px 0 0 60px;
}

#secciones-footer section h4 {
  text-decoration: underline;
  font-weight: bold;
}

#secciones-footer section {
  padding: 0 50px 0 50px;
  display: inline-block;
  width: 260px;
  float: left;
  height: 150px;
}

#secciones-footer section:not(:last-child) {
  border-right: 1px solid #302323;
}

#secciones-footer section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#secciones-footer section ul li {
  padding: 0;
}

#secciones-footer section ul li .footer-subtitle {
  font-weight: bold;
}

#secciones-footer section ul li img {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  display: inline-block;
}

#secciones-footer section ul li a {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  margin-left: 5px;
}

#copyright {
  text-align: center;
  padding: 10px 0 10px 0;
  font-size: 10px;
}
